{% load static %}
<style>
  .font-weight-bold{
    color:white;
  }
  .linkstyle{
    color:white;
    
  }
  .linkstyle:hover{
    color:rgb(56, 208, 255);
    text-decoration: none;
  }
  .icon-style{
    background-color:white;
    color:rgb(10, 10, 10);
    border-radius:50%;
    height:25px;
    width:20px;
  }
  .icon-style:hover{
    
    box-shadow:2px 2px 6px 0px white;
  }
</style>
<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4" style="background-color:rgb(52, 56, 70);">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Blogging</h6>
        <p style="color:white;">Blogging Helps You For Best Blogs.
          Create Blogs Within Minutes.
          Share With Your Friends.
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">


      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        {% if "userid" in request.session%}
          <p>
            <a class="linkstyle" href="/profile">Your Account</a>
          </p>
          <p>
            <a class="linkstyle" href="/blogs">Your Blogs</a>
          </p>
          <p>
            <a class="linkstyle" href="/myblog">Explore</a>
          </p>
        {% else %}
          <p>
            <a class="linkstyle" href="/login">Help</a>
          </p>
          <p>
            <a class="linkstyle" href="/signup">Help</a>
          </p>
        {% endif %}
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" style="color:white;">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Nashik, MH 422401, IN</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> Deejha927@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 91 9158483901</p>
       
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left" style="color:white;">© 2020 Copyright:
          <a href="/" style="text-decoration:none;">
            <strong>Blogging.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item ">
              <a class="btn-floating btn-sm rgba-white-slight mx-1 icon-style">
                <i class="fab fa-facebook-f "></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1 icon-style">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1 icon-style">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item"> 
              <a class="btn-floating btn-sm rgba-white-slight mx-1 icon-style">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->